<%- include('partials/header') %>

<div class="container mt-5">
  <div class="row text-center">
    <h2 class="mb-4">Reset your password</h2>
    <div class="col-md-6 mx-auto">
      <form action="/user/reset" method="post">
        <% if (errors.length > 0) { %>
        <div class="alert alert-danger">
          <% errors.forEach((error)=> { %>
          <p class="p-0 m-0 mb-1"><%= error.msg %></p>
          <% }) %>
        </div>
        <% } %> <% if (success_message !='') { %>
        <div class="alert alert-success"><%= success_message %></div>
        <% } %> <% if (error_message !='') { %>
        <div class="alert alert-danger"><%= error_message %></div>
        <% } %>
        <div class="form-group mb-3">
          <input
            class="form-control"
            type="password"
            name="oldPassword"
            placeholder="Enter your old password"
          />
        </div>
        <div class="form-group mb-3">
          <input
            class="form-control"
            type="password"
            name="newPassword"
            placeholder="Enter your new password"
          />
        </div>
        <div class="form-group mb-3">
          <input
            class="form-control"
            type="password"
            name="confirmPassword"
            placeholder="Re-enter your password"
          />
        </div>
        <button type="submit" class="btn btn-success">Reset</button>
      </form>
    </div>
  </div>
</div>
<%- include('partials/foot') %>
